/* import fonts from fonts.css file */ 
@import url(./fonts.css);

/* css variables */ 
@import url(./_variables.css);

/* import global styling */ 
@import url(./_global.css);


.site-main{
    margin: 0;
    padding: 0; 
}
/* Banner Area */ 

.site-main .site-banner {
    background: url(./images/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #1d165c;
    height: 628px;
}

.site-main .site-banner .site-title h3{
    padding-top: 30%;
    font-weight: 500;
    color: #fff;
}

.site-main .site-banner .site-title p{
    font-size: 1.5rem;
    color: #fff;
}

.dropdown-item{
    font-family:var(--roboto);
}



/* End Banner Area */


/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 40px/ 50px var(--roboto);
    letter-spacing: 12px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

/* End About Area */ 

/* Services Area */ 

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



/* End Services Area */ 


/* Start Footer Area */ 

.footer-links .footer-top {
    padding: 30px 0px;
    background: url(./images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.footer-links .footer-bottom {
    background-color:#181c2a;
    padding: 22px 0px;
}

.footer-links .footer-bottom .copyright{
    color: #fff;
}

.footer-links .footer-top .widget-title{
    color: #fff;
}

.footer-links .footer-top .widget-content{
    color: #aaadb7;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
/* End Footer Area */ 