{% extends "admin/starter.html" %}
{% block main %}
<button onclick="newRow()">New Row</button>
<table class="table">
    <tr>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Handle</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sevil</td>
        <td>Rasulova</td>
        <td>sevillerasulova@</td>
        <td>
            <button onclick="updateItem(this)"><i class="fa fa-edit"></i></button>
            <button onclick="removeItem(this)"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Leyla</td>
        <td>Mustafayeva</td>
        <td>leylamustafayeva@</td>
        <td>
            <button onclick="updateItem(this)"><i class="fa fa-edit"></i></button>
            <button onclick="removeItem(this)"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Terane</td>
        <td>Hummetova</td>
        <td>teranehummetova@</td>
        <td>
            <button onclick="updateItem(this)"><i class="fa fa-edit"></i></button>
            <button onclick="removeItem(this)"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</table>
{% endblock %}
{% block script %}
<script src="../static/js/table.js"></script>
{% endblock %}