{% extends "layout.html" %}
{% block content %}

<!-- about-section -->
    <section class="about-section sec-pad">
        <div class="auto-container">
            <div class="tabs-box">
                <div class="tabs-content" id="content_block_01">
                    <div class="tab active-tab" id="tab-1">
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 content-column">
                                <div class="content-box">
                                    <div class="sec-title text-left">
                                        <p>About Company</p>
                                        <h2>Mission is to bring the power of AI to every business</h2>
                                        <div class="decor" style="background-image: url(assets/images/icons/decor-1.png);"></div>
                                    </div>
                                    <div class="text">
                                        <p>Fusce mattis id augue ac commodo. Maecenas eleifend rutrum velit eu faucibus. Etiam lectus ex, malesuada sit amet consequat vitae, iaculis nec turpis. Phasellus eleifend, ex sit amet ultrices porttitor, dui odio molestie est, in blandit lorem tortor sed dui. Donec venenatis tellus at sodales posuere. Donec eget nibh urna. Donec malesuada turpis dui, non dignissim risus tristique varius. Quisque suscipit tellus in sapien tempor auctor.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6 col-sm-12 inner-column">
                                <div class="inner-box">
                                    <div class="video-inner" style="background-image: url(/flaskblog/Static/images/about-us.png);">
                                        <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="lightbox-image" data-caption=""><i class="flaticon-play-button"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->

{% endblock %}